body {
background-color:aliceblue(10, 40, 207);   
}

.chickendescription {
    font-size: 25px;
}

.chickenheading {
    background-color: yellow;
    font-style: italic; 
}

.chickendirections {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

.chickeningredients {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

.chickenprep {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}


.zucchinititle {
    font-style: italic;
    background-color: aqua;
}

.zucingredients {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

.zucdirections {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

.zucnutrition {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

.porkheading {
    font-style: italic;
    background-color: rgb(193, 216, 112);
}

.porknutrition {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

.porkingredients {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

.porkdirections {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    border-color: black;
    border-style: solid;
    width: 700px;
}

ol {
    border-color: black;
    border-style: solid;
}