
body {
background-color:aliceblue(27, 18, 156);
color:red;
font-family: 'Times New Roman', Times, serif;
font-size: 30px;
}

.odintitle {
    background-color: yellow;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

.recipelinks {
    font-style:oblique;
    border-color: black;
    border-style: solid;

}

li {
    width: 500px;
}